DB_HOST=localhost:5432 # The host of the database
DB_NAME=url_shortener  # The name of the database
DB_USERNAME=postgres   # The username of the database
DB_PASSWORD=admin      # The password of the database

REDIS_HOST=localhost   # The host of redis
REDIS_PORT=6379        # The port for redis